<style>
    .card{
        box-sizing: border-box;
        padding: 14px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        height: 375px;
        width: 240px;
        min-width: 240px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 20px ;
        background-color: white;
        cursor: pointer;
    }
    .card-picture {
        border-radius: 4px;
        height: 247px;
        width: 208px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
        object-fit: cover;
    }
    .card-picture img{
        height: 100%;
        width: 100%;
    }
    div{
        height: 80px;
        width: 208px;
    }

    p {
    
        margin: 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
        
    }
    .name{
        font-size: 16px;
    }
    .price{
        font-weight: 700;
        font-size: 16px;
    }
    .category{
        color: gray;
        font-size: 14px;
    }
</style>

<div class="card">
    <div class="card-picture">
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202211/0711/kh4MUIuMmHlktOHar3lVl6rY.png" alt="Game Image">
    </div>
    <div>
        <p class="name">the witcher 3 </p>
        <p class="price">70$</p>
        <p class="category">Jeu Ps4</p>
    </div>
</div>
