<style>

    :host{
        background-color: #282828;
        width: 100vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px !important;
        overflow: hidden;
    }
    :host div {
        width: 100%;
        height: 100%; 
        overflow: hidden; 
    }
    .main-product img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    .products-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        overflow: hidden;
    }
    .products-grid img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    img{
            cursor: pointer;
        }
    @media  (pointer: coarse) and (orientation: portrait) and (max-width: 700px){
        :host{
            grid-template-columns: none;
            grid-template-rows: 0.5fr 1fr;
        }
        .products-grid{
            grid-template-columns: none;
            grid-template-rows: 1fr 1fr;
        }
        .products-grid img:nth-child(3){
            display: none;
        }
        .products-grid img:nth-child(4){
            display: none;
        }
        
    }
</style>
    <div class="main-product">
        <img src="/files/Loading_Animation-3250736340.gif" alt="">
    </div>
    <div class="products-grid">        
        <img src="/files/Loading_Animation-3250736340.gif" alt="">
        <img src="/files/Loading_Animation-3250736340.gif" alt="">
        <img src="/files/Loading_Animation-3250736340.gif" alt="">
        <img src="/files/Loading_Animation-3250736340.gif" alt=""> 
    </div>