<style>
    .slide-container{
        box-sizing: border-box;
        position: relative;
        width: 98vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin: 2rem 0;
    }
    .title{
        font-size: 3rem;
        text-decoration: none;
        color: black;
        padding: 40px;
    }
    .title:hover{
        text-decoration: underline;
        color: black;
    }
    .next img,
    .prev img{
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 50%;
    }
    .next{
        position: absolute;
        top: 50%;
        right: 0;
        border-radius: 50%;
        border: none;
    }
    .prev {
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 50%;
        border: none;
        
    }

    .card-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        min-width: 100%;
        min-height: fit-content;
        max-width: 100vw;
        transition: transform 0.5s ease;
        flex-wrap: nowrap;
        padding: 1rem 1rem 1rem 268px;
    }
    @media  (pointer: coarse) and (orientation: portrait) and (max-width: 700px){
        .slide-container{
            overflow: hidden;
        }
        .title{
            padding: 30px;
        }
        .card-wrapper{
            overflow-x: auto;
            overflow-y: hidden;
            height: 100%;
            padding-left: 30px;
        }
        .next{
            display: none;
        }
        .prev {
            display: none;
        }

    }
    </style>
    <div class="slide-container">
        <a class="title" href="#">
        </a>
        <div class="card-wrapper">
        </div>
        <button class="next">
            <img src="/files/icons/slider/chevron-right-svgrepo-com.svg" alt="">
        </button>
        <button class="prev">
            <img src="/files/icons/slider/chevron-left-svgrepo-com.svg" alt="">
        </button>
    </div>